<ul class="collapsible">

  {% for cat in site.data.all %}
  <li class='active'>
    <div class="collapsible-header"><i class="material-icons">live_tv</i>TV</div>
    <div class="collapsible-body">
    
      {% for cat2 in cat %}
      <li class='active'>
        <div class="collapsible-header"><i class="material-icons">live_tv</i>TV</div>
        <div class="collapsible-body">
          <ul class="collection">
            
            {% for Video in cat2 %}
            <a class="collection-item {% if include.page.title == Video.name %}active{%endif%}"
               href='{{ Video.link | append: ".html" }}'>{{Video.name}}</a>
            {% endfor %}
            
          </ul>
        </div>
      </li> 
      {% endfor %}
      
    </div>
  </li>
  {% endfor %}
  
</ul>
