<div id="SideNav">
<span class="teal-text">更新時間：{{site.data.all.update}}</span>

<ul class="collapsible">
  {% for cat in site.data.all.cat %}
  <li {% if include.page.cat == cat.name %}class='active'{%endif%}>
    <div class="collapsible-header"><i class="material-icons">{{cat.icon}}</i>{{cat.name}}</div>
    <div class="collapsible-body">
      <ul class="collapsible">
      
      {% for cat2 in cat.child %}
      <li {% if include.page.cat2 == cat2.name %}class='active'{%endif%}>
        <div class="collapsible-header"><i class="material-icons">{{cat2.icon}}</i>{{cat2.name}}</div>
        <div class="collapsible-body">
          <ul class="collection">
            
            {% for Video in cat2.child %}
            <a class="collection-item {% if include.page.title == Video.name %}active{%endif%}"
               href='{{Video.link}}'>{{Video.name}}</a>
            {% endfor %}
            
          </ul>
        </div>
      </li> 
      {% endfor %}
      
      </ul>
    </div>
  </li>
  {% endfor %}
  
</ul>
</div>
<div class="card-panel cyan lighten-4">已知錯誤： 有的時候因為網路問題會導致使用側欄載入頁面時，瀏覽器顯示的標題會不太正常，再按一次按鈕可修復</div>

<ul class="collection with-header">  
	<li class="collection-header">
    		<h4 class="teal-text">公告</h4>
    </li>
    {% for allpost in site.posts %}
    <li class="collection-item">
    		<div>{{allpost.title}}<a href="{{allpost.url}}" class="secondary-content"><i class="material-icons">link</i></a></div></li>
    {% endfor %}
</ul>