<div class="row">
    
    {% for cat in site.data.all[0].child %}
    {{cat.name}} {{page.cat}}
    {% if cat.name == page.cat %}
    Ok, {{site.data.all[0].child[forloop.index].child | jsonify}}
    {% for link in site.data.all[0].child[forloop.index].child %}
    <div class="col s12 m6">  
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
                <span class="card-title">{{link.name}}</span>
            </div>
            <div class="card-action">
                <a href="{{link.link}}">Go</a>
            </div>
        </div> 
    </div>
    {% endfor %}
    {% endif %}
    {% endfor %}
    
</div>