<div class="row">
    
    {% for cat in site.data.all.cat[0].child %}
    {% if cat.name == page.cat %}
    
    <div class="col s12 m12">  
        <ul class="collection with-header">  
            <li class="collection-header">
                <h4 class="teal-text">
                    {{page.cat}}
                </h4>
            </li>
            {% for link in cat.child %}
            <li class="collection-item">
                <div>{{link.name}}<a href="{{link.link}}" class="secondary-content"><i class="material-icons">link</i></a></div></li>
            {% endfor %}
        </ul>  
    </div>
    
    {% endif %}
    {% endfor %}
    
</div>